templates/Copy Music Data/Copy Music Data.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name"
		},
		"azure_function_hello_linked_service": {
			"type": "string"
		},
		"AzureTableStorage1": {
			"type": "string"
		},
		"Demo Blob Storage": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Copy Music Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Data",
						"type": "Lookup",
						"policy": {
							"timeout": "1:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "AzureTableSource",
								"azureTableSourceQuery": "Processed eq false",
								"azureTableSourceIgnoreTableNotFound": false
							},
							"dataset": {
								"referenceName": "Data_Factory_Demo_Data_Set",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Copy Data To Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "AzureTableSource",
								"azureTableSourceQuery": "Processed eq false",
								"azureTableSourceIgnoreTableNotFound": false
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Data_Factory_Demo_Data_Set",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureBlob",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "React To Failure",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "Lookup Data",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy Data To Blob",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"functionName": "Hello",
							"method": "POST"
						},
						"linkedServiceName": {
							"referenceName": "[parameters('azure_function_hello_linked_service')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Activities"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Data_Factory_Demo_Data_Set')]",
				"[concat(variables('factoryId'), '/datasets/AzureBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Data_Factory_Demo_Data_Set')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureTableStorage1')]",
					"type": "LinkedServiceReference"
				},
				"type": "AzureTable",
				"typeProperties": {
					"tableName": "dataFactoryDemo"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('Demo Blob Storage')]",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects"
					},
					"fileName": "",
					"folderPath": "files"
				}
			}
		}
	]
}