demo-df-jw/PartialArmTemplates/ArmTemplate_4_26_2019_16_54_57.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "demo-df-jw"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Copy Yelp Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Yelp Data 1",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"id": "YelpId",
									"name": "Name",
									"review_count": "ReviewCount",
									"rating": "Rating",
									"categories": "Category",
									"city": "SearchLocationCity",
									"state": "SearchLocationState",
									"price": "Price"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Get_Yelp_Data_1",
								"type": "DatasetReference",
								"parameters": {
									"Category": {
										"value": "@pipeline().parameters.Category1",
										"type": "Expression"
									},
									"City": {
										"value": "@pipeline().parameters.City1",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Raw_Yelp_Data",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy Yelp Data 2",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"id": "YelpId",
									"name": "Name",
									"review_count": "ReviewCount",
									"rating": "Rating",
									"categories": "Category",
									"city": "SearchLocationCity",
									"state": "SearchLocationState",
									"price": "Price"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Get_Yelp_Data_1",
								"type": "DatasetReference",
								"parameters": {
									"Category": {
										"value": "@pipeline().parameters.Category2",
										"type": "Expression"
									},
									"City": {
										"value": "@pipeline().parameters.City2",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Raw_Yelp_Data",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Aggregate Yelp Data",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy Yelp Data 2",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Yelp Data 1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "Aggregate Yelp Data",
								"type": "DataFlowReference"
							},
							"compute": {
								"computeType": "General",
								"coreCount": 8
							}
						}
					},
					{
						"name": "Handle Error",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy Yelp Data 2",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy Yelp Data 1",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Aggregate Yelp Data",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.00:01:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://prod-34.eastus.logic.azure.com:443/workflows/cc1c41cefcda4773b17ef1565b6366d3/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=OpgAMjs3ObbrlTBIIScvQQY2Lk2onl2nzNnGntTgLGQ",
							"method": "POST",
							"body": {
								"error": "Unable to copy yelp data"
							}
						}
					}
				],
				"parameters": {
					"Category1": {
						"type": "string"
					},
					"Category2": {
						"type": "string"
					},
					"City1": {
						"type": "string"
					},
					"City2": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Activities"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Get_Yelp_Data_1')]",
				"[concat(variables('factoryId'), '/datasets/Raw_Yelp_Data')]",
				"[concat(variables('factoryId'), '/dataflows/Aggregate Yelp Data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Get_Yelp_Data_1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServer1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Category": {
						"type": "string"
					},
					"City": {
						"type": "string"
					}
				},
				"type": "HttpFile",
				"structure": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "alias",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "image_url",
						"type": "String"
					},
					{
						"name": "is_closed",
						"type": "Boolean"
					},
					{
						"name": "url",
						"type": "String"
					},
					{
						"name": "review_count",
						"type": "Int64"
					},
					{
						"name": "categories",
						"type": "String"
					},
					{
						"name": "rating",
						"type": "Double"
					},
					{
						"name": "latitude",
						"type": "Double"
					},
					{
						"name": "longitude",
						"type": "Double"
					},
					{
						"name": "transactions",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "address1",
						"type": "String"
					},
					{
						"name": "address2",
						"type": "String"
					},
					{
						"name": "address3",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "zip_code",
						"type": "String"
					},
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "display_address",
						"type": "String"
					},
					{
						"name": "phone",
						"type": "String"
					},
					{
						"name": "display_phone",
						"type": "String"
					},
					{
						"name": "distance",
						"type": "Double"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects",
						"jsonNodeReference": "$.['businesses']",
						"jsonPathDefinition": {
							"id": "[concat('[', '''id'']')]",
							"alias": "[concat('[', '''alias'']')]",
							"name": "[concat('[', '''name'']')]",
							"image_url": "[concat('[', '''image_url'']')]",
							"is_closed": "[concat('[', '''is_closed'']')]",
							"url": "[concat('[', '''url'']')]",
							"review_count": "[concat('[', '''review_count'']')]",
							"categories": "[concat('[', '''categories'']')]",
							"rating": "[concat('[', '''rating'']')]",
							"latitude": "[concat('[', '''coordinates''][''latitude'']')]",
							"longitude": "[concat('[', '''coordinates''][''longitude'']')]",
							"transactions": "[concat('[', '''transactions'']')]",
							"price": "[concat('[', '''price'']')]",
							"address1": "[concat('[', '''location''][''address1'']')]",
							"address2": "[concat('[', '''location''][''address2'']')]",
							"address3": "[concat('[', '''location''][''address3'']')]",
							"city": "[concat('[', '''location''][''city'']')]",
							"zip_code": "[concat('[', '''location''][''zip_code'']')]",
							"country": "[concat('[', '''location''][''country'']')]",
							"state": "[concat('[', '''location''][''state'']')]",
							"display_address": "[concat('[', '''location''][''display_address'']')]",
							"phone": "[concat('[', '''phone'']')]",
							"display_phone": "[concat('[', '''display_phone'']')]",
							"distance": "[concat('[', '''distance'']')]"
						}
					},
					"relativeUrl": {
						"value": "@concat('?location=',dataset().City,'&radius=40000&sort_by=rating&limit=50&categories=',dataset().Category)",
						"type": "Expression"
					},
					"requestMethod": "GET",
					"additionalHeaders": "Authorization: Bearer Plcw1tCLJR0HOzVRzv6JRJ8jbJMFUXNjt7aA11pXsI-xSw_kcbSSUiJMobsOOrQvlKCqPmlP2DpasIeGptmO7b1IkU3l0ERDD1PY3jsy1z6-AMjuKgxbLslZ0c-8XHYx"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Raw_Yelp_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "YelpId",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "ReviewCount",
						"type": "Int32"
					},
					{
						"name": "Rating",
						"type": "Decimal"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "SearchLocationCity",
						"type": "String"
					},
					{
						"name": "SearchLocationState",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[YelpRawData]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Raw_Yelp_Data_DF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "YelpId",
						"type": "nvarchar"
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "ReviewCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Rating",
						"type": "decimal",
						"precision": 3,
						"scale": 2
					},
					{
						"name": "Category",
						"type": "nvarchar"
					},
					{
						"name": "SearchLocationCity",
						"type": "nvarchar"
					},
					{
						"name": "SearchLocationState",
						"type": "char"
					},
					{
						"name": "Price",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[YelpRawData]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Raw_Yelp_Data_DF_Aggregate')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ReviewCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Price",
						"type": "varchar"
					},
					{
						"name": "Location",
						"type": "nvarchar"
					},
					{
						"name": "LocationWithPriceCount",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[YelpAggregateData]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Aggregate Yelp Data')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Raw_Yelp_Data_DF",
								"type": "DatasetReference"
							},
							"name": "RawYelpData",
							"script": "source(output(\n\t\tId as integer,\n\t\tYelpId as string,\n\t\tName as string,\n\t\tReviewCount as integer,\n\t\tRating as decimal(3,2),\n\t\tCategory as string,\n\t\tSearchLocationCity as string,\n\t\tSearchLocationState as string,\n\t\tPrice as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table') ~> RawYelpData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Raw_Yelp_Data_DF_Aggregate",
								"type": "DatasetReference"
							},
							"name": "SinkToSQL",
							"script": "AggregateReviewCountByRating sink(input(\n\t\tid as integer,\n\t\tReviewCount as integer,\n\t\tPrice as string,\n\t\tLocation as string,\n\t\tLocationWithPriceCount as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tkeys:['Price','SearchLocationCity'],\n\tmapColumn(\n\t\tReviewCount,\n\t\tPrice,\n\t\tLocation = SearchLocationCity,\n\t\tLocationWithPriceCount\n\t)) ~> SinkToSQL"
						}
					],
					"transformations": [
						{
							"name": "FilterByReviewCount",
							"script": "RawYelpData filter(greaterOrEqual(ReviewCount,100)) ~> FilterByReviewCount"
						},
						{
							"name": "AggregateReviewCountByRating",
							"script": "FilterByReviewCount aggregate(groupBy(Price,\n\t\tSearchLocationCity),\n\tLocationWithPriceCount = count(Id),\n\t\tReviewCount = sum(ReviewCount)) ~> AggregateReviewCountByRating"
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Raw_Yelp_Data_DF')]",
				"[concat(variables('factoryId'), '/datasets/Raw_Yelp_Data_DF_Aggregate')]"
			]
		}
	]
}