demo-df-jw/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "demo-df-jw"
		},
		"SqlServer1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer1'"
		},
		"SqlServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer1'"
		},
		"linkedService1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'linkedService1'"
		},
		"local_machine_linked_sevice_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'local_machine_linked_sevice'"
		},
		"Azure_Blob_CSV_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "forUpdate.csv"
		},
		"Azure_Blob_CSV_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "files"
		},
		"Azure_Demo_Blob_Storage_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@concat(guid(),'.json')"
		},
		"Azure_Demo_Blob_Storage_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "files"
		},
		"SqlServer1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "CEI.DOMAIN\\jwilliams"
		},
		"Web1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro"
		},
		"linkedService1_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "jwilliams@ceiamerica.com"
		},
		"local_machine_linked_sevice_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "jwilliams@ceiamerica.com"
		},
		"Local_File_Share_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@concat('S3_',formatDateTime(utcnow(),'yyyyMMddhhmmss'),'.csv')"
		},
		"Local_File_Share_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "files"
		},
		"Local_File_System_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().fileName"
		},
		"Local_File_System_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": ""
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Azure_Blob_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Demo Blob Storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('Azure_Blob_CSV_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('Azure_Blob_CSV_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_Demo_Blob_Storage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Demo Blob Storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "arrayOfObjects"
					},
					"fileName": {
						"value": "[parameters('Azure_Demo_Blob_Storage_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('Azure_Demo_Blob_Storage_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Data_Factory_Demo_Data_Set')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureTableStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"typeProperties": {
					"tableName": "music"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Data_Factory_Demo_Data_Set1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureTableStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"typeProperties": {
					"tableName": "music"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Data_Factory_Demo_Data_Set2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureTableStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"typeProperties": {
					"tableName": "automobile"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Get_Yelp_Data_1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServer1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Category": {
						"type": "string"
					},
					"City": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "HttpFile",
				"structure": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "alias",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "image_url",
						"type": "String"
					},
					{
						"name": "is_closed",
						"type": "Boolean"
					},
					{
						"name": "url",
						"type": "String"
					},
					{
						"name": "review_count",
						"type": "Int64"
					},
					{
						"name": "categories",
						"type": "String"
					},
					{
						"name": "rating",
						"type": "Double"
					},
					{
						"name": "latitude",
						"type": "Double"
					},
					{
						"name": "longitude",
						"type": "Double"
					},
					{
						"name": "transactions",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "address1",
						"type": "String"
					},
					{
						"name": "address2",
						"type": "String"
					},
					{
						"name": "address3",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "zip_code",
						"type": "String"
					},
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "display_address",
						"type": "String"
					},
					{
						"name": "phone",
						"type": "String"
					},
					{
						"name": "display_phone",
						"type": "String"
					},
					{
						"name": "distance",
						"type": "Double"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects",
						"jsonNodeReference": "$.['businesses']",
						"jsonPathDefinition": {
							"id": "[['id']",
							"alias": "[['alias']",
							"name": "[['name']",
							"image_url": "[['image_url']",
							"is_closed": "[['is_closed']",
							"url": "[['url']",
							"review_count": "[['review_count']",
							"categories": "[['categories']",
							"rating": "[['rating']",
							"latitude": "[['coordinates']['latitude']",
							"longitude": "[['coordinates']['longitude']",
							"transactions": "[['transactions']",
							"price": "[['price']",
							"address1": "[['location']['address1']",
							"address2": "[['location']['address2']",
							"address3": "[['location']['address3']",
							"city": "[['location']['city']",
							"zip_code": "[['location']['zip_code']",
							"country": "[['location']['country']",
							"state": "[['location']['state']",
							"display_address": "[['location']['display_address']",
							"phone": "[['phone']",
							"display_phone": "[['display_phone']",
							"distance": "[['distance']"
						}
					},
					"relativeUrl": {
						"value": "@concat('?location=',dataset().City,'&radius=40000&sort_by=rating&limit=50&categories=',dataset().Category)",
						"type": "Expression"
					},
					"requestMethod": "GET",
					"additionalHeaders": "Authorization: Bearer Plcw1tCLJR0HOzVRzv6JRJ8jbJMFUXNjt7aA11pXsI-xSw_kcbSSUiJMobsOOrQvlKCqPmlP2DpasIeGptmO7b1IkU3l0ERDD1PY3jsy1z6-AMjuKgxbLslZ0c-8XHYx"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Raw_Yelp_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "YelpId",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "ReviewCount",
						"type": "Int32"
					},
					{
						"name": "Rating",
						"type": "Decimal"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "SearchLocationCity",
						"type": "String"
					},
					{
						"name": "SearchLocationState",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[YelpRawData]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Raw_Yelp_Data_DF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "YelpId",
						"type": "nvarchar"
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "ReviewCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Rating",
						"type": "decimal",
						"precision": 3,
						"scale": 2
					},
					{
						"name": "Category",
						"type": "nvarchar"
					},
					{
						"name": "SearchLocationCity",
						"type": "nvarchar"
					},
					{
						"name": "SearchLocationState",
						"type": "char"
					},
					{
						"name": "Price",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[YelpRawData]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Raw_Yelp_Data_DF_Aggregate')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ReviewCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Price",
						"type": "varchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "LocationWithPriceCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "State",
						"type": "char"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[YelpAggregateData]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer1_connectionString')]",
					"userName": "[parameters('SqlServer1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Web1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Web",
				"typeProperties": {
					"url": "[parameters('Web1_properties_typeProperties_url')]",
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "C:\\Users\\jwilliams\\Desktop\\presentations\\azure bootcamp 19",
					"userId": "[parameters('linkedService1_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('linkedService1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/local_machine_linked_sevice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "C:\\Users\\jwilliams\\Desktop\\presentations\\azure bootcamp 19",
					"userId": "[parameters('local_machine_linked_sevice_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('local_machine_linked_sevice_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Demo Blob Storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "userdata1.parquet",
						"container": "files"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "registration_dttm",
						"type": "INT96"
					},
					{
						"name": "id",
						"type": "INT32"
					},
					{
						"name": "first_name",
						"type": "UTF8"
					},
					{
						"name": "last_name",
						"type": "UTF8"
					},
					{
						"name": "email",
						"type": "UTF8"
					},
					{
						"name": "gender",
						"type": "UTF8"
					},
					{
						"name": "ip_address",
						"type": "UTF8"
					},
					{
						"name": "cc",
						"type": "UTF8"
					},
					{
						"name": "country",
						"type": "UTF8"
					},
					{
						"name": "birthdate",
						"type": "UTF8"
					},
					{
						"name": "salary",
						"type": "DOUBLE"
					},
					{
						"name": "title",
						"type": "UTF8"
					},
					{
						"name": "comments",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy Automobile Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Data",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:1:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureTableSource",
								"azureTableSourceQuery": {
									"value": "@concat('Timestamp gt datetime''', formatDateTime(adddays(utcnow(),-3)),'''')",
									"type": "Expression"
								},
								"azureTableSourceIgnoreTableNotFound": false
							},
							"dataset": {
								"referenceName": "Data_Factory_Demo_Data_Set2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Copy Data To Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureTableSource",
								"azureTableSourceQuery": {
									"value": "@concat('Timestamp gt datetime''', formatDateTime(adddays(utcnow(),-3)),'''')",
									"type": "Expression"
								},
								"azureTableSourceIgnoreTableNotFound": false
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Data_Factory_Demo_Data_Set2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureBlob2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Handle Error",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Lookup Data",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy Data To Blob",
								"dependencyConditions": [
									"Failed",
									"Skipped"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-34.eastus.logic.azure.com:443/workflows/cc1c41cefcda4773b17ef1565b6366d3/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=OpgAMjs3ObbrlTBIIScvQQY2Lk2onl2nzNnGntTgLGQ",
							"method": "POST",
							"headers": {},
							"body": {
								"message": "error copying automobile data"
							}
						}
					}
				],
				"folder": {
					"name": "Activities"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Data_Factory_Demo_Data_Set2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy Music Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Data",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:1:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureTableSource",
								"azureTableSourceQuery": "Processed eq false",
								"azureTableSourceIgnoreTableNotFound": false
							},
							"dataset": {
								"referenceName": "Data_Factory_Demo_Data_Set",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Copy Data To Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureTableSource",
								"azureTableSourceQuery": "Processed eq false",
								"azureTableSourceIgnoreTableNotFound": false
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Data_Factory_Demo_Data_Set",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureBlob",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Activities"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Data_Factory_Demo_Data_Set')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Local_File_Share')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "local_machine_linked_sevice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "FileShare",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": {
						"value": "[parameters('Local_File_Share_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('Local_File_Share_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/local_machine_linked_sevice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Local_File_System')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "local_machine_linked_sevice",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "FileShare",
				"typeProperties": {
					"fileName": {
						"value": "[parameters('Local_File_System_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('Local_File_System_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/local_machine_linked_sevice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Aggregate Yelp Data')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Raw_Yelp_Data_DF",
								"type": "DatasetReference"
							},
							"name": "RawYelpData",
							"typeProperties": {},
							"script": "source(output(\n\t\tId as integer,\n\t\tYelpId as string,\n\t\tName as string,\n\t\tReviewCount as integer,\n\t\tRating as decimal(3,2),\n\t\tCategory as string,\n\t\tSearchLocationCity as string,\n\t\tSearchLocationState as string,\n\t\tPrice as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table') ~> RawYelpData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Raw_Yelp_Data_DF_Aggregate",
								"type": "DatasetReference"
							},
							"name": "SinkToSQL",
							"script": "AggregateReviewCountByRating sink(input(\n\t\tid as integer,\n\t\tReviewCount as integer,\n\t\tPrice as string,\n\t\tCity as string,\n\t\tLocationWithPriceCount as integer,\n\t\tState as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tkeys:['Price','SearchLocationCity','SearchLocationState'],\n\tmapColumn(\n\t\tReviewCount,\n\t\tPrice,\n\t\tCity = SearchLocationCity,\n\t\tLocationWithPriceCount,\n\t\tState = SearchLocationState\n\t)) ~> SinkToSQL"
						}
					],
					"transformations": [
						{
							"name": "FilterByReviewCount",
							"script": "RawYelpData filter(greaterOrEqual(ReviewCount,100)) ~> FilterByReviewCount"
						},
						{
							"name": "AggregateReviewCountByRating",
							"script": "FilterByReviewCount aggregate(groupBy(Price,\n\t\tSearchLocationCity,\n\t\tSearchLocationState),\n\tLocationWithPriceCount = count(Id),\n\t\tReviewCount = sum(ReviewCount)) ~> AggregateReviewCountByRating"
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Raw_Yelp_Data_DF')]",
				"[concat(variables('factoryId'), '/datasets/Raw_Yelp_Data_DF_Aggregate')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WebHook1",
						"type": "WebHook",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"url": "https://enbxcoo792wgf.x.pipedream.net/",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@activity('Lookup1').output.firstRow.email",
								"type": "Expression"
							},
							"timeout": "00:1:00"
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSetting"
								}
							},
							"dataset": {
								"referenceName": "Parquet1",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"variables": {
					"test": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Parquet1')]"
			]
		}
	]
}