pipeline/Copy Data.json
{
	"name": "Copy Data",
	"properties": {
		"activities": [
			{
				"name": "For Each File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@array(activity('Lookup Files').output)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Files",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "FileSystemSource",
									"recursive": true
								},
								"sink": {
									"type": "BlobSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Local_File_System",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@activity('Lookup Files').output",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Azure_Demo_Blob_Storage",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup Files",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "FileSystemSource",
						"recursive": true
					},
					"dataset": {
						"referenceName": "Local_File_Share",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"relativeFilePath": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Activities"
		}
	}
}