pipeline/Copy Data.json
{
	"name": "Copy Data",
	"properties": {
		"activities": [
			{
				"name": "For Each File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Files",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "FileSystemSource",
									"recursive": true
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Local_File_System",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup Files",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "FileSystemSource",
						"recursive": true
					},
					"dataset": {
						"referenceName": "Local_File_Share",
						"type": "DatasetReference",
						"parameters": {
							"filePath": {
								"value": "@variables('filePath')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"fileName1": {
				"type": "String"
			},
			"fileName2": {
				"type": "String"
			}
		},
		"variables": {
			"filePath": {
				"type": "String",
				"defaultValue": "C:\\Users\\jwilliams\\Desktop\\presentations\\azure bootcamp 19\\"
			}
		},
		"folder": {
			"name": "Activities"
		}
	}
}