pipeline/Copy Data.json
{
	"name": "Copy Data",
	"properties": {
		"activities": [
			{
				"name": "For Each File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "If Data Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@array(activity('Lookup Files').output)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Files",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "FileSystemSource",
									"recursive": true
								},
								"sink": {
									"type": "BlobSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Local_File_System",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@activity('Lookup Files').output",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Azure_Demo_Blob_Storage",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup Data",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureTableSource",
						"azureTableSourceIgnoreTableNotFound": false
					},
					"dataset": {
						"referenceName": "Data_Factory_Demo_Data_Set",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "If Data Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@length(activity('Lookup Data').output.firstRow)",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Activities"
		}
	}
}